[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=rofi -show combi -combi-modes "run,drun" -modes combi -theme /data/data/com.termux/files/usr/share/rofi/themes/windows11-grid-dark.rasi -show-icons -theme /data/data/com.termux/files/usr/share/rofi/themes/windows11-grid-dark.rasi -icon-theme Win11-dark-green
Name=Rofi
Icon=/data/data/com.termux/files/home/dale.png
X-XFCE-Source=file:///data/data/com.termux/files/usr/share/applications/rofi.desktop
Comment=An replacement of DMenu.
Path=
StartupNotify=false
